In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from khayyam import JalaliDate
import warnings
warnings.filterwarnings('ignore')
import matplotlib.ticker as mticker

In [3]:
data = pd.read_csv('df.csv')
print("Columns in the original file:", data.columns)

Columns in the original file: Index(['Address', 'weight', 'khanevartype', 'Takmil', 'province', 'town',
       'tenure', 'room', 'space', 'construction', 'material', 'vehicle',
       'motorcycle', 'bicycle', 'radio', 'radiotape', 'TVbw', 'TV',
       'VHS_VCD_DVD', 'computer', 'cellphone', 'freezer', 'refridgerator',
       'fridge', 'stove', 'vacuum', 'washingmachine', 'sewingmachine', 'fan',
       'evapcoolingportable', 'splitportable', 'dishwasher', 'microwave',
       'none', 'pipewater', 'electricity', 'pipegas', 'telephone', 'internet',
       'bathroom', 'kitchen', 'evapcooling', 'centralcooling',
       'centralheating', 'package', 'split', 'wastewater', 'cookingfuel',
       'heatingfuel', 'waterheatingfuel', 'Cost1', 'Cost2', 'Cost3', 'Cost4',
       'Cost5', 'Cost6', 'Cost7', 'Cost8', 'Cost9', 'Cost11', 'Cost12',
       'Cost13', 'Cost14', 'HousePrice1', 'HousePrice2', 'Fuel', 'Car_Fuel',
       'Benzin', 'Costs_sum', 'sum_netincome_w_m', 'sum_netincome_w_y', 'Fasl',
       'Income_s_y', 'sum03_incomes', 'Subsidy', 'total_income',
       'total_income_month', 'year', 'state', 'members', 'dollar_price'],
      dtype='object')

In [4]:
data['year'] = data['year'].apply(lambda x: JalaliDate(x, 1, 1).strftime('%Y'))
print(data.head())

       Address      weight  khanevartype  Takmil province  town  \
0  20001383908  171.199524             1       1  Markazi     1
1  20001383911  171.199524             1       2  Markazi     1
2  20001383915  171.199524             1       2  Markazi     1
3  20001383916  171.199524             1       1  Markazi     1
4  20001383920  171.199524             1       2  Markazi     1

            tenure  room  space  construction  ... Fasl   Income_s_y  \
0  OwnedEstateLand     3  100.0           3.0  ...  2.0  342000000.0
1  OwnedEstateLand     3   70.0           3.0  ...  2.0          0.0
2  OwnedEstateLand     3  100.0           3.0  ...  2.0  214500000.0
3  OwnedEstateLand     4  100.0           3.0  ...  2.0          0.0
4  OwnedEstateLand     3  100.0           3.0  ...  2.0          0.0

   sum03_incomes     Subsidy  total_income  total_income_month  year  state  \
0            0.0  21840000.0   363840000.0        3.032000e+07  0098      R
1     43000000.0  10920000.0    53920000.0        4.493333e+06  0098      R
2            0.0  10920000.0   225420000.0        1.878500e+07  0098      R
3            0.0  21840000.0   258200008.0        2.151667e+07  0098      R
4            0.0  27300000.0   243300000.0        2.027500e+07  0098      R

   members   dollar_price
0        4  120026.344086
1        2  120026.344086
2        2  120026.344086
3        8  120026.344086
4        5  120026.344086

[5 rows x 81 columns]

In [7]:
def plot_household_expense_trend(data):
    plt.figure(figsize=(12, 6))  
    
    # رسم نمودار خطی
    sns.lineplot(data=data, x='year', y='Cost11', marker='o', color='blue')
    plt.title('Household Expense Trend for Food, Hotel, and Restaurant', fontsize=14)
    plt.xlabel('Year', fontsize=12)
    plt.ylabel('Expense', fontsize=12)
    
    # تنظیم فرمت برای محور Y
    ax = plt.gca()
    ax.yaxis.set_major_formatter(mticker.StrMethodFormatter('{x:,.0f}'))

    # اضافه کردن خطوط نقطه‌چین و برچسب هزینه‌ها
    for index, row in data.iterrows():
        plt.axvline(x=row['year'], linestyle='--', color='gray', alpha=0.5)
        plt.text(row['year'], row['Cost11'], f"{int(row['Cost11']):,}", color='black', ha='right')

    plt.tight_layout() 
    plt.show()

In [8]:
plot_household_expense_trend(data)